.customer {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.item {
    border: 1px solid #000;
    border-radius: 1em;
    overflow: hidden;
    margin: 2em;
    background-color: #e9e9e9;
}

.item__button {
    background-color: #cfcfcf;
    font-size: 18px;
}
