.movie {
  display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.item {
  border: 1px solid #000;
    border-radius: 1em;
    overflow: hidden;
    margin: 2em;
    background-color: #e9e9e9;
}

.item__details {
    padding: 0 1.5em;
    border-left: 2px solid #595959;
    border-right: 2px solid #595959;
}
